


<div style="background-color:#e65050; padding-bottom: 420px;">
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e65050" fill-opacity="1" d="M0,320L48,298.7C96,277,192,235,288,192C384,149,480,107,576,106.7C672,107,768,149,864,181.3C960,213,1056,235,1152,250.7C1248,267,1344,277,1392,282.7L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>

<div  class="container my-4" >
  <div  style="margin: -500px 0px 300px 0px">
    <h1 class="display-1 text-center"> Pagina de home</h1>
    <p class="text-center"> Aqui puedes ver todos nuestros trabajos, si tienes alguna duda puedes contactarnos</p>
  </div>
 

  <h1> Contenido de tarjetas: </h1>
 
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">titulo</th>
        <th scope="col">cabecera</th>
        <th scope="col">celular</th>
        <th scope="col">direccion</th>
        <th scope="col">correo</th>
      </tr>
    </thead>
    <tbody>
      <%for(var i=0; i<tarjetas.length; i++) {%>
      <tr>
        <td><%=tarjetas[i]._id%></td>
        <td><%=tarjetas[i].titulo%></td>
        <td><%=tarjetas[i].cabecera%></td>
        <td><%=tarjetas[i].celular%></td>
        <td><%=tarjetas[i].direccion%></td>
        <td><%=tarjetas[i].correo%></td>
        <td>   <img height="200px" width="200px" src="<%=tarjetas[i].tarjetaImage%>"/></td>
     
      </tr>
      <%}%>
    </tbody>
  </table>
  <%for(var i=0; i<tarjetas.length; i++) {%>
  <div class="card mb-3" style="margin:50px 0px 50px 0px">
    <img class="card-img-top img-fluid"  src="<%=tarjetas[i].tarjetaImage%>" alt="Card image cap">
    <div class="card-body">
      <a href="/tarjetas/<%= tarjetas[i]._id %>" target="_blank">
      <h5 class="card-title"><%=tarjetas[i].titulo%></h5>
      <p class="card-text"><%=tarjetas[i].correo%></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </a>
    </div>
  </div>

  <%}%>


</div>


