<div style="height: 600px">
    <img src="/<%=tarjeta.tarjetaImage%>" alt=" " style="width: 100%;max-height: 100%; object-fit: cover" />
</div>

<div  class="container my-4"  >
    <div style="margin:100px 0px 100px 0px" >

   
<h1><%=tarjeta.titulo%></h1>
<h1><%=tarjeta.celular%></h1>
<h1><%=tarjeta.direccion%></h1>
<h1><%=tarjeta.correo%></h1>
<img class="card-img-top img-fluid" height="500px" width="100%" style="object-fit: contain" src="/<%=tarjeta.tarjetaImage%>"/>
</div>
</div>